html {
  height: 100%;
  //font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  min-height: 100%;
  background-color: #f8f9fd;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #717171;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: rgba(113, 113, 113, 0.73);
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

select::-ms-expand {
  display: none;
}

b {
  font-weight: 700;
}

.disabled {
  opacity: .7;
  &:hover {
    cursor: not-allowed;
  }
}

.dash {
  padding: 0 6px;
  font-weight: 400;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.table-actions {
  display: block;
  text-align: right;
  white-space: nowrap;
  margin-right: -20px;
}

$notImplementedColor: #d0d0d0;

.not-implemented {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity: .45;
    border-radius: inherit;
    pointer-events: none;
    background: repeating-linear-gradient(135deg, $notImplementedColor, $notImplementedColor 10px, unquote('#ffffff00') 10px, unquote('#ffffff00') 20px);
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.error-text {
  color: #f44336 !important;
}

.phone-number-width {
  min-width: 110px;
  display: inline-block;
}
